<!DOCTYPE html>
<html lang="en">
<head>
  <title>Trip Planner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel = "stylesheet" href="css/style.css"  type = "text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html">Trip Planner</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="index.html">Home</a></li>
      <li class = "active"><a href="#">My Trips</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </div>
</nav>

<div class = "container tripList">
<h2>Trips</h2>
  <p>This list contains all your previous trips. Please click on one to check the details.</p>            
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Trip ID</th>
        <th>Start Point</th>
        <th>End Point</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href = "locations.html">1</td>
        <td>San Francisco</td>
        <td>LA</td>
      </tr>
      <tr>
        <td>2</td>
        <td>London</td>
        <td>Paris</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Hong Kong</td>
        <td>Singapore</td>
      </tr>
    </tbody>
  </table>
</div>